<% layout("/layout/boilerplate")-%>
<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-4 ">Login on Wanderlust</h1>
      <div class="col-8 offset-2">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input required
                  type="text"
                  name="username"
                 id="username"
                  class="form-control"
                />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">Please enter unique username</div>
              </div>
              <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input required
                  type="password"
                  name="password"
                 id="password"
                  class="form-control"
                />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">Please enter unique password</div>
              </div>
         <button class="btn btn-success">Login</button>
        </form>
        </div>
        </div>
        </body>
       
          